[Desktop Entry]
Icon=text-html
Name=Echoing Void Textures
Type=Link
URL[$e]=https://minecraft.fandom.com/wiki/Minecraft_Dungeons:List_of_prefab_textures#Echoing_Void
